@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-cover img{
    width: 95%;
    height:450px;
  
    
}
.user-profile{
    display: flex;
    align-items: center;
    margin-top: 0%;
}
.user-profile img{
    width: 3%;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
   color: #626262; 
}
.user-profile small{
    font-size: 12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top:20px;
}
.post-input-container textarea{
    width: 100%;
    border:0;
    outline:0;
    border-bottom:1px solid #ccc;
    background: transparent;
    resize: none;

}
.add-post-links{
    display: flex;
    margin-top:10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size:13px;
}
.add-post-links img{
    width: 20px;
    margin-right: 10px;
}
.post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}
.post-text{
    color: #9a9a9a;
    margin: 15px;
    font-size:15px;
}
.post-text span{
    color: #626262;
    font-weight:500;
}
.post-img{
    width:50%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;

}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
/* header for menu*/
header{
  position: fixed;
  bottom:0;
  height: auto;
  width: 100%;
  background:white;
  color: black;
  z-index: 999999999;
}
header .logo{
  font-size: 2.5em;
  font-weight: 700;
  cursor: pointer;
  margin-left: 10%;
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5%;
}
header .main-ul{
  margin:0; 
  float: right;
  width: 65%;
  height: 100%;
  text-align: center;
}
header .main-ul li{
  list-style-type: none;
  display: inline-block;
  padding: 20px 15px;
  cursor: pointer;
}
header .main-ul li a{
  color: black;
  font-size: 1em;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
header .main-ul li:hover{
  background:rgba(0, 0, 0, 0.2);
}

  /*dropdown-menu*/

header .main-ul li .dropdown-menu{
  position: absolute;
  bottom:100%;
  margin-left: -5%;
  background:white;
  display: none;
  font-size: 12px;
  line-height: 5px;
}
header .main-ul li:hover .dropdown-menu{
  display: block;
}
header .main-ul li .dropdown-menu li{
  display: block;
  margin-left:-25%;
}

header .main-ul li .dropdown-menu1{
  position: absolute;
  bottom:100%;
  margin-left: -1%;
  background:white;
  display: none;
  font-size: 12px;
  line-height: 5px;
}
header .main-ul li:hover .dropdown-menu1{
  display: block;
}
header .main-ul li .dropdown-menu1 li{
  display: block;
  margin-left:-25%;
}

header .main-ul li .dropdown-menu2{
  position: absolute;
  bottom:100%;
  margin-left: -2%;
  background:white;
  display: none;
  font-size: 14px;
  line-height: 5px;
}
header .main-ul li:hover .dropdown-menu2{
  display: block;
}
header .main-ul li .dropdown-menu2 li{
  display: block;
  margin-left:-25%;
}

/* End Footer */